* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Bai Jamjuree", sans-serif;
}

::-webkit-scrollbar {
	width: 0;
}

h1 {
	color: hsl(210, 10%, 33%);
	font-weight: 700;
}

p {
	color: hsl(201, 11%, 66%);
}

button {
	border: none;
	cursor: pointer;
}

.header_img {
	position: absolute;
	width: 100%;
	height: 363px;
	background-image: url(./images/bg-header-mobile.png);
	background-repeat: no-repeat;
}

header {
	width: 50%;
	height: 765px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

.header_logo {
	padding-bottom: 74px;
	padding-top: 122px;
}

.header_heading {
	width: 230px;
	padding-bottom: 24px;
	font-size: 22px;
	text-align: center;
}

.header_para {
	width: 308px;
	padding-bottom: 52px;
	font-size: 11px;
	text-align: center;
	line-height: 1.8;
	letter-spacing: 1px;
}

.buttons {
	width: 316px;
	height: 148px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.btn {
	width: 312px;
	height: 56px;
	border-radius: 30px;
	color: #fff;
}

.ios {
	background: hsl(171, 66%, 44%);
	box-shadow: 0px 5px 5px hsl(171, 66%, 32%);
}

.ios::before {
	content: "";
	position: absolute;
}

.mac {
	background: hsl(233, 100%, 69%);
	box-shadow: 0px 5px 5px hsl(233, 100%, 59%);
}

.ios:hover,
.mac:hover {
	opacity: 0.75;
}

/*############################
		TABLET VIEW 
############################*/

@media screen and (min-width: 376px) and (max-width: 865px) {
	.header_img {
		background-image: url(./images/bg-header-desktop.png);
	}

	.ios {
		box-shadow: 5px 7px 10px hsl(171, 66%, 34%);
	}

	.mac {
		box-shadow: 5px 7px 10px hsl(233, 100%, 59%);
	}
}

/*############################
		DESKTOP VIEW 
############################*/

@media screen and (min-width: 866px) {
	.header_img {
		background-image: url(./images/bg-header-desktop.png);
	}

	.ios {
		box-shadow: 5px 10px 15px hsl(171deg 66% 34%);
	}

	.mac {
		box-shadow: 5px 10px 15px hsl(233, 100%, 59%);
	}
}
